@font-face {
  font-family: "Amstrong";
  src: url("../fonts/subset-Amstrong.woff2") format("woff2"),
    url("../fonts/subset-Amstrong.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
